/*<meta />*/

/**/

/* img tags*/

a:hover
{
	text-decoration: none;
}

a:link
{
	text-decoration: none;
	color: #009ddb;
}

a:visited
{
	text-decoration: none;
	color: #009ddb;
}

body
{
	font-family: sans-serif;
	mc-hyphenate: never;
	font-size: 10pt;
	color: #454545;
}

div.Note
{
	background-color: #dcdcdc;
	margin-left: 0.2in;
	mc-auto-number-format: '{b}Note:{/b}';
	padding: 0.5em;
	width: 80%;
}

div.Note p.Body
{
	margin-left: 0;
}

div.Note p.Bullet
{
	margin-left: 0.3in;
}

h1,
h1.Routine,
h1.ObjClass,
h1.ObjMethod,
h1.ObjProperties
{
	color: #003366;
	font-size: 20pt;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0;
	margin-bottom: 12pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 12pt;
	text-align: left;
	text-decoration: none;
}

h1.Chapter_Name
{
	font-weight: normal;
	font-size: 16pt;
	margin-top: 1.75em;
}

h1.Manual_SubTitle
{
	font-weight: normal;
	font-size: 16pt;
	margin-bottom: 0.15em;
	margin-top: 1.75em;
}

h1.Manual_Title
{
	font-weight: normal;
	font-size: 16pt;
	margin-bottom: 0.15em;
	margin-top: 1.75em;
}

h2,
h2.NoTOC,
h2.PageBreak
{
	font-family: sans-serif;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0.15em;
	font-style: normal;
	font-size: 14pt;
	mc-hyphenate: never;
	color: #333333;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #ffc200;
	font-weight: normal;
	padding-bottom: 3pt;
	margin-top: 1.75em;
}

h3
{
	font-family: sans-serif;
	font-style: normal;
	margin-bottom: 0.15em;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 12pt;
	mc-heading-level: 3;
	mc-hyphenate: never;
	font-weight: normal;
	margin-top: 1.75em;
	color: #454545;
}

h3.Argument,
h3.Keyword,
h3.Property,
h3.Sysvar
{
	margin-left: 0in;
}

h3.Numbered
{
	mc-auto-number-format: 'h:{n+}. ';
	mc-auto-number-offset: 0;
	mc-auto-number-position: inside-head;
}

h3.Numbered1
{
	mc-auto-number-format: 'h:{n=1}. ';
	mc-auto-number-offset: 0;
	mc-auto-number-position: inside-head;
}

h4,
h4.SysvarField
{
	font-size: 11pt;
	font-style: normal;
	font-family: sans-serif;
	font-weight: bolder;
	mc-heading-level: 0;
	mc-hyphenate: never;
	margin-bottom: 0.15em;
	color: #333333;
}

h5
{
	font-size: 10pt;
	font-style: normal;
	letter-spacing: 0;
	margin-bottom: 6pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 6pt;
	text-align: left;
	text-decoration: none;
	font-weight: bolder;
	color: #696969;
}

img
{
	border: none;
}

img.ImgFloatRight
{
	border: none;
	clear: left;
	float: right;
	padding-left: 1em;
	position: relative;
	top: 0;
}

p,
p.Body
{
	font-family: sans-serif;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-size: 10pt;
	display: block;
	mc-hyphenate: never;
}

p.Appendix_Number
{
	font-size: 24pt;
	letter-spacing: 0;
	line-height: 33pt;
	margin-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	mc-auto-number-class: Kicker;
	mc-auto-number-format: 'A:Appendix {chapnum}';
	mc-auto-number-offset: 0;
	mc-auto-number-position: inside-head;
}

p.Bullet
{
	letter-spacing: 0;
	mc-auto-number-format: '• ';
	mc-auto-number-offset: 24px;
	mc-auto-number-position: outside-head;
	margin-left: 40px;
}

p.Bullet_Indented
{
	letter-spacing: 0;
	mc-auto-number-format: '• ';
	mc-auto-number-offset: 24.00001px;
	mc-auto-number-position: outside-head;
	margin-left: 60px;
}

p.CellBody,
td.CellBody,
td p.CellBody
{
	color: #454545;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0;
	margin-bottom: 4pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	text-align: left;
	text-decoration: none;
}

p.CellBulleted
{
	letter-spacing: 0;
	margin-bottom: 4pt;
	margin-left: 0.2in;
	margin-top: 0;
	mc-auto-number-format: '• ';
	mc-auto-number-offset: 14.4px;
	mc-auto-number-position: outside-head;
}

p.CellCentered
{
	letter-spacing: 0;
	margin-bottom: 4pt;
	margin-left: 0;
	margin-top: 0;
	text-align: center;
}

p.CellCode
{
	font-family: monospace;
	letter-spacing: 0;
	margin-bottom: 0;
	margin-left: 0.1in;
	margin-top: 0;
}

p.CellHanging
{
	letter-spacing: 0;
	margin-bottom: 4pt;
	margin-top: 0;
}

p.CellHeading,
th.CellHeading
{
	color: #454545;
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	text-align: center;
	text-decoration: none;
}

p.CellNote
{
	letter-spacing: 0;
	margin-bottom: 4pt;
	margin-left: 0;
	margin-top: 0;
	mc-auto-number-class: Helvetica Bold;
	mc-auto-number-format: 'Note - ';
	mc-auto-number-offset: 0;
	mc-auto-number-position: inside-head;
}

p.Chapter_Number
{
	font-size: 24pt;
	letter-spacing: 0;
	line-height: 33pt;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	mc-auto-number-class: Kicker;
	mc-auto-number-format: 'C:Chapter {chapnum}';
	mc-auto-number-offset: 0;
	mc-auto-number-position: inside-head;
}

p.Code
{
	font-family: monospace;
	font-size: 10pt;
	letter-spacing: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 0;
	margin-left: 20px;
}

p.Code_Indented
{
	font-family: monospace;
	letter-spacing: 0;
	margin-bottom: 0;
	margin-left: 40px;
	margin-right: 0;
	margin-top: 0;
	font-size: 10pt;
}

p.Copyright
{
	font-size: 7pt;
	letter-spacing: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 6pt;
}

p.ExampleCode
{
	letter-spacing: 0;
	margin-bottom: 4px;
	margin-right: 0;
	margin-top: 7px;
	mc-auto-number-format: '{b}Example Code: {/b}';
	padding: 8px;
	background-color: #eeeeee;
}

p.FigureTitle
{
	font-size: 10pt;
	font-style: italic;
	letter-spacing: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	mc-auto-number-offset: 0;
	mc-auto-number-position: inside-head;
	mc-auto-number-format: ;
}

p.Hidden
{
	font-size: 7pt;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

p.IDLCode
{
	font-family: monospace;
	font-size: 10pt;
	letter-spacing: 0;
	margin-bottom: 0;
	margin-left: 0.4in;
	margin-right: 0;
	margin-top: 0;
}

p.Indent1
{
	letter-spacing: 0;
	margin-left: 40px;
}

p.Indent2
{
	letter-spacing: 0;
	margin-left: 60px;
}

p.Introduction
{
	letter-spacing: 0;
	margin-left: 0;
}

p.Lettered
{
	letter-spacing: 0;
	mc-auto-number-format: 'L:{A+}. ';
	mc-auto-number-offset: 24.00001px;
	mc-auto-number-position: outside-head;
	margin-left: 60px;
}

p.LetteredA
{
	letter-spacing: 0;
	mc-auto-number-format: 'L:{A=1}. ';
	mc-auto-number-offset: 24.00001px;
	mc-auto-number-position: outside-head;
	margin-left: 60px;
}

p.Note
{
	letter-spacing: 0;
	margin-left: 0;
	margin-right: 0;
	mc-auto-number-format: '{b}Note: {/b}';
	font-size: 9pt;
	margin-bottom: 12pt;
	padding: 0px;
	margin-top: 6pt;
}

p.Note_Indented
{
	letter-spacing: 0;
	margin-left: 40px;
	mc-auto-number-format: '{b}Note: {/b}';
	font-size: 9pt;
	margin-bottom: 12pt;
	margin-top: 6pt;
	padding: 0px;
}

p.Numbered
{
	letter-spacing: 0;
	mc-auto-number-format: 'N:{n+}. ';
	mc-auto-number-offset: 24px;
	mc-auto-number-position: outside-head;
	margin-left: 40px;
}

p.Numbered1
{
	letter-spacing: 0;
	mc-auto-number-format: 'N:{n=1}. ';
	mc-auto-number-offset: 24px;
	mc-auto-number-position: outside-head;
	margin-left: 40px;
}

p.Part_Name
{
	font-size: 40pt;
	font-style: italic;
	line-height: 42pt;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	mc-auto-number-offset: 0;
	mc-auto-number-position: inside-head;
	mc-auto-number-format: ;
	font-weight: normal;
}

p.Part_Number
{
	font-size: 7pt;
	letter-spacing: 0;
	line-height: 9pt;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	text-align: right;
}

p.Syntax
{
	letter-spacing: 0;
}

p.TableTitle
{
	font-style: italic;
	letter-spacing: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	mc-auto-number-offset: 0;
	mc-auto-number-position: inside-head;
	text-align: center;
	mc-auto-number-format: ;
}

p.Tip
{
	letter-spacing: 0;
	margin-left: 0.2in;
	margin-right: 0;
	mc-auto-number-format: '{b}Tip: {/b}';
	font-size: 9pt;
	margin-bottom: 12pt;
	margin-top: 6pt;
	padding: 0px;
}

p.Tutorial_Number
{
	font-size: 24pt;
	letter-spacing: 0;
	line-height: 33pt;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	mc-auto-number-class: Kicker;
	mc-auto-number-format: 'T:Tutorial {chapnum}';
	mc-auto-number-offset: 0;
	mc-auto-number-position: inside-head;
}

p.Version
{
	font-size: 10pt;
	letter-spacing: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

p.Warning
{
	letter-spacing: 0;
	margin-right: 0;
	mc-auto-number-format: '{b}Warning: {/b}';
	font-size: 9pt;
	margin-top: 6pt;
	padding: 0px;
	margin-bottom: 12pt;
	margin-left: 0in;
}

p.Warning_Indented
{
	letter-spacing: 0;
	margin-left: 40px;
	mc-auto-number-format: '{b}Warning: {/b}';
	mc-auto-number-position: float-left;
	font-size: 9pt;
	margin-bottom: 12pt;
	margin-top: 6pt;
	padding: 0px;
}

span.Bold
{
	font-weight: bold;
}

span.Courier
{
	font-family: monospace;
}

span.Courier-Italic
{
	font-family: monospace;
	font-size: 10pt;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0;
	text-decoration: none;
}

span.Helvetica_Bold
{
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0;
	text-decoration: none;
}

span.Italic
{
	font-style: italic;
}

span.Overline
{
	text-decoration: overline;
}

span.SubScript
{
	font-size: 80%;
	vertical-align: sub;
}

span.SuperScript
{
	font-size: 80%;
	vertical-align: super;
}

span.Symbol
{
	font-family: 'SymbolProp BT';
}

span.Unlink
{
	
}

sub.italic
{
	font-style: italic;
}

sup.italic
{
	font-style: italic;
}

sup.symbol
{
	font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Apple Symbols';
}

MadCap|xref.Chapter_Reference
{
	mc-format: '{paratext}';
}

MadCap|xref.Chapter_in_Manual
{
	mc-format: '{paratext}';
}

MadCap|xref.ConceptPageNumber
{
	mc-format: '{paratext}';
}

MadCap|xref.Figure_Reference
{
	mc-format: 'Figure {paranumonly}';
}

MadCap|xref.Heading
{
	mc-format: '{paratext}';
	text-decoration: none;
}

MadCap|xref.Heading:hover
{
	text-decoration: none;
}

MadCap|xref.Heading_And_Page
{
	mc-format: '{paratext}';
}

MadCap|xref.Heading_in_Chapter
{
	mc-format: '{paratext}';
}

MadCap|xref.Heading_in_Chapter_in_Manual
{
	mc-format: '{paratext}';
}

MadCap|xref.Heading_in_Manual
{
	mc-format: '{paratext}';
}

MadCap|xref.Heading_with_Quotes
{
	mc-format: '{paratext}';
}

MadCap|xref.IndexPageNumber
{
	mc-format: '{paratext}';
}

MadCap|xref.Table_Reference
{
	mc-format: 'Table {paranumonly}';
}

@media non-print
{
	div.leftcolumn
	{
		float: left;
		border-color: #a9a9a9;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-left-style: none;
		border-left-width: 0px;
		width: 55%;
	}

	div.rightcolumn
	{
		float: right;
		border-color: #a9a9a9;
		border-left-style: solid;
		padding-left: 20px;
		border-left: solid 1px;
		width: 39%;
		border-left-width: 1px;
		background-color: #e6e6fa;
	}

	hr
	{
		border-color: #a9a9a9;
	}

	div.iconLeft
	{
		float: left;
		width: 10%;
	}

	h1
	{
		
	}

	p.IDLCode
	{
		margin-left: 20px;
	}

	span.Symbol
	{
		font-family: 'SymbolProp BT';
	}

	p.Copyright
	{
		font-size: 10pt;
	}

	MadCap|breadcrumbsProxy
	{
		
	}

	h3.HomeTable
	{
		font-weight: bold;
		color: #1f5b42;
	}

	h1.Chapter_Name
	{
		color: #51626f;
		font-size: 18pt;
		font-style: italic;
		font-weight: bold;
		border-bottom-style: none;
	}

	p.HideSearchTerms
	{
		display: none;
	}

	p.HomeTable
	{
		
	}

	p.Method
	{
		
	}
}

MadCap|xref
{
	text-decoration: none;
	mc-format: '{paratext}';
	color: #009ddb;
}

img.imgCentered
{
	float: center;
}

img.imgThumbnail
{
	mc-thumbnail-max-height: 125px;
	mc-float: center;
	mc-thumbnail: none;
}

a
{
	text-decoration: none;
	color: #009ddb;
}

a.GlossaryPageTerm:link
{
	
}

a.GlossaryPageTerm:visited
{
	
}

a.MCBreadcrumbsLink:link
{
	
}

a.MCBreadcrumbsLink:visited
{
	
}

a.Popup:link
{
	
}

a.Popup:visited
{
	
}

h1
{
	font-style: normal;
	font-family: sans-serif;
	margin-right: 0px;
	margin-left: 0px;
	font-size: 16pt;
	mc-hyphenate: never;
	margin: 0px;
	color: #333333;
	font-weight: normal;
	border-bottom-style: solid;
	margin-bottom: 0.15em;
	border-bottom-color: #454545;
	border-bottom-width: 1pt;
	padding-bottom: 3pt;
	margin-top: 1.75em;
	border-left-style: none;
}

@media print
{
	h1
	{
		
	}

	h2
	{
		font-size: 16pt;
		color: #000000;
		font-weight: bold;
		mc-heading-level: 0;
	}
}

h4
{
	line-height: 0pt;
	font-size: 10pt;
	font-weight: bolder;
	margin-bottom: 3.15pt;
	color: #454545;
}

MadCap|breadcrumbsProxy
{
	font-size: 8pt;
	font-family: sans-serif;
	padding-bottom: 3px;
	margin-bottom: 0px;
	border-bottom-width: 0px;
	mc-breadcrumbs-prefix: '';
	mc-breadcrumbs-count: 4;
}

MadCap|dropDownHead
{
	font-family: sans-serif;
	font-size: 11pt;
	font-style: normal;
	font-weight: bold;
}

MadCap|glossaryTerm
{
	font-family: sans-serif;
	border-bottom-style: none;
	color: #51626f;
}

MadCap|keywordLink
{
	color: #009ddb;
}

MadCap|popupBody
{
	color: #454545;
}

p
{
	font-size: 10pt;
	color: #454545;
}

p.Body
{
	color: #454545;
	font-size: 10pt;
}

p.CellBody
{
	color: #454545;
	font-size: 10pt;
}

p.CellHeading
{
	color: #454545;
	font-size: 10pt;
}

p.TOC1
{
	color: #009ddb;
}

p.TOC2
{
	color: #009ddb;
}

p.TOC3
{
	color: #009ddb;
}

p.TOC4
{
	color: #009ddb;
}

p.TOC5
{
	color: #009ddb;
}

th.CellHeading
{
	color: #454545;
	font-size: 10pt;
}

td.CellBody
{
	color: #454545;
	font-size: 10pt;
}

MadCap|dropDownBody
{
	text-decoration: none;
}

MadCap|dropDownHotspot
{
	font-family: sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #454545;
}

h1.ObjClass
{
	color: #333333;
	font-size: 16pt;
	font-weight: normal;
	margin-bottom: 0.15em;
	margin-top: 1.75em;
}

MadCap|miniTocProxy
{
	border-top-width: 0px;
	margin-top: 6pt;
	padding-top: 0px;
}

p.MiniTOC1
{
	font-weight: normal;
	color: #009ddb;
}

p.MiniTOC2
{
	color: #009ddb;
}

p.MiniTOC3
{
	color: #009ddb;
}

p.MiniTOC4
{
	color: #009ddb;
}

p.MiniTOC5
{
	color: #009ddb;
}

p.MiniTOC6
{
	color: #009ddb;
}

p.MiniTOC7
{
	color: #009ddb;
}

p.MiniTOC8
{
	color: #009ddb;
}

p.MiniTOC9
{
	color: #009ddb;
}

h1.Routine
{
	font-size: 16pt;
	font-weight: normal;
	color: #333333;
	margin-bottom: 0.15em;
	margin-top: 1.75em;
}

h1.ObjProperties
{
	color: #333333;
	font-size: 16pt;
	font-weight: normal;
	margin-bottom: 0.15em;
	margin-top: 1.75em;
}

h1.ObjMethod
{
	color: #333333;
	font-size: 16pt;
	font-weight: normal;
	margin-bottom: 0.15em;
	margin-top: 1.75em;
}

h2
{
	border-bottom-style: none;
	color: #454545;
}

h2.NoTOC
{
	border-bottom-style: none;
}

h2.PageBreak
{
	border-bottom-style: none;
}

span.mcFormatColor
{
	color: #4685ea;
}

li
{
	list-style-type: square;
}

MadCap|toggler
{
	color: #333333;
}

div.property_table
{
	width: 80%;
	mc-auto-number-format: ;
	margin-left: 0.25in;
	padding-left: 0.5em;
	border-left-style: groove;
	border-left-width: 1px;
	border-left-color: #808080;
	border-right-style: groove;
	border-right-width: 1px;
	border-right-color: #a9a9a9;
	border-top-style: groove;
	border-top-width: 1px;
	border-top-color: #a9a9a9;
	border-bottom-style: groove;
	border-bottom-width: 1px;
	border-bottom-color: #a9a9a9;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

div.catalog
{
	
}

h4.SysvarField
{
	margin-bottom: 3pt;
}

p.NewClass
{
	font-family: sans-serif;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 6pt;
	margin-bottom: 6pt;
	font-size: 10pt;
	display: block;
	mc-hyphenate: never;
	font-size: 10pt;
	color: #454545;
}

p.Keyword
{
	
}

MadCap|miniTocProxy.Reference
{
	mc-toc-depth: 2;
	mc-expandable: true;
}

p.HomeTable
{
	text-align: right;
}

h3.HomeTable
{
	font-style: italic;
	margin-top: 0em;
	text-align: right;
	color: #3f3a66;
}

a:focus
{
	
}

html.home
{
	mc-master-page: url('../MasterPages/Home.flmsp');
}

MadCap|conceptLink
{
	color: #009ddb;
}

MadCap|relatedTopics
{
	color: #009ddb;
}

MadCap|popupHead
{
	color: #009ddb;
}

MadCap|relationshipsHeading
{
	font-size: 12pt;
	font-family: sans-serif;
	color: #454545;
}

p.TOC6
{
	color: #009ddb;
}

p.TOC7
{
	color: #009ddb;
}

p.TOC8
{
	color: #009ddb;
}

p.TOC9
{
	color: #009ddb;
}

span.SearchHighlight1
{
	background-color: #ffff00;
	font-weight: normal;
}

span.SearchHighlight10
{
	font-weight: normal;
	background-color: #ffffff;
}

span.SearchHighlight2
{
	background-color: #ffff00;
	font-weight: normal;
}

span.SearchHighlight3
{
	background-color: #ffff00;
	font-weight: normal;
}

span.SearchHighlight4
{
	background-color: #ffff00;
	font-weight: normal;
}

span.SearchHighlight5
{
	font-weight: normal;
	background-color: #ffffff;
}

span.SearchHighlight6
{
	font-weight: normal;
	background-color: #ffffff;
}

span.SearchHighlight7
{
	font-weight: normal;
	background-color: #ffffff;
}

span.SearchHighlight8
{
	font-weight: normal;
	background-color: #ffffff;
}

span.SearchHighlight9
{
	font-weight: normal;
	background-color: #ffffff;
}

p.Index1
{
	color: #009ddb;
}

p.Index2
{
	color: #009ddb;
}

p.Index3
{
	color: #009ddb;
}

p.Index4
{
	color: #009ddb;
}

p.Index5
{
	color: #009ddb;
}

p.Index6
{
	color: #009ddb;
}

p.Index7
{
	color: #009ddb;
}

p.Index8
{
	color: #009ddb;
}

p.Index9
{
	color: #009ddb;
}

p.HideSearchTerms
{
	display: none;
}

div.leftcolumn
{
	float: left;
	border-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: none;
	border-left-width: 0px;
	width: 55%;
}

div.rightcolumn
{
	float: right;
	border-color: #a9a9a9;
	border-left-style: solid;
	padding-left: 20px;
	border-left: solid 1px;
	width: 39%;
	border-left-width: 1px;
	background-color: #e6e6fa;
}

hr
{
	border-color: #a9a9a9;
}

div.iconLeft
{
	float: left;
	width: 10%;
}

h1
{
	
}

p.IDLCode
{
	margin-left: 20px;
}

span.Symbol
{
	font-family: 'SymbolProp BT';
}

p.Copyright
{
	font-size: 10pt;
}

MadCap|breadcrumbsProxy
{
	
}

h3.HomeTable
{
	font-weight: bold;
	color: #1f5b42;
}

h1.Chapter_Name
{
	color: #51626f;
	font-size: 18pt;
	font-style: italic;
	font-weight: bold;
	border-bottom-style: none;
}

p.HideSearchTerms
{
	display: none;
}

p.HomeTable
{
	
}

p.Method
{
	
}

