/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: List_Format; 
	margin-top: 6pt; 
	margin-bottom: 12pt; 
	border-spacing-x: 0; 
	border-spacing-y: 0; 
	border-collapse: collapse; 
	border-left-color: #000000; 
	border-right-color: #000000; 
	border-top-color: #000000; 
	border-bottom-color: #000000; 
	border-top-style: none; 
	border-bottom-style: none; 
	border-right-style: none; 
	border-left-style: none; 
	cell-padding-top: 6pt; 
	cell-padding-left: 5pt; 
	cell-padding-right: 6pt; 
	cell-padding-bottom: 3pt; 
}

mcTableColumnStyle {
	separator-style: none; 
	ruler-style: none; 
}

mcTableHeadStyle {
}

mcTableBodyStyle {
	span: 2; 
	separator-style: none; 
	ruler-style: none; 
	vertical-align: top; 
	text-align: left; 
}

mcTableBodyStyle {
	span: 2; 
	separator-style: none; 
	ruler-style: none; 
}

mcTableFootStyle {
}

 
 
/* Cell Styles: */
 
.TableStyle_List_Format
{
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-top: 6pt;
	margin-bottom: 12pt;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 6pt 6pt 3pt 5pt;
}

.TableStyle_List_Format_Head_0_0
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Head_0_0 p
{
	
}

.TableStyle_List_Format_Head_0_0_RowSep_ColSep
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_List_Format_Head_0_0_RowSep
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Head_0_0_RowSep p
{
	
}

.TableStyle_List_Format_Head_0_0_ColSep
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Head_0_0_ColSep p
{
	
}

.TableStyle_List_Format_Head_0_0_RowSep_ColEnd
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}

.TableStyle_List_Format_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_List_Format_Head_0_0_RowEnd
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Head_0_0_RowEnd p
{
	
}

.TableStyle_List_Format_Head_0_0_RowEnd_ColSep
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_List_Format_Head_0_0_RowEnd_ColEnd
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}

.TableStyle_List_Format_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_List_Format_Head_0_0_ColEnd
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}

.TableStyle_List_Format_Head_0_0_ColEnd p
{
	
}

.TableStyle_List_Format_Body_0_0
{
	text-align: left;
	vertical-align: top;
	border-bottom-style: none;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Body_0_0 p
{
	
}

.TableStyle_List_Format_Body_0_0_RowSep_ColSep
{
	text-align: left;
	vertical-align: top;
	border-bottom-style: none;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Body_0_0_RowSep_ColSep p
{
	
}

.TableStyle_List_Format_Body_0_0_RowSep
{
	text-align: left;
	vertical-align: top;
	border-bottom-style: none;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Body_0_0_RowSep p
{
	
}

.TableStyle_List_Format_Body_0_0_ColSep
{
	text-align: left;
	vertical-align: top;
	border-bottom-style: none;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Body_0_0_ColSep p
{
	
}

.TableStyle_List_Format_Body_0_0_RowSep_ColEnd
{
	text-align: left;
	vertical-align: top;
	border-bottom-style: none;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}

.TableStyle_List_Format_Body_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_List_Format_Body_0_0_RowEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Body_0_0_RowEnd p
{
	
}

.TableStyle_List_Format_Body_0_0_RowEnd_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Body_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_List_Format_Body_0_0_RowEnd_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}

.TableStyle_List_Format_Body_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_List_Format_Body_0_0_ColEnd
{
	text-align: left;
	vertical-align: top;
	border-bottom-style: none;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}

.TableStyle_List_Format_Body_0_0_ColEnd p
{
	
}

.TableStyle_List_Format_Body_1_0
{
	border-bottom-style: none;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Body_1_0 p
{
	
}

.TableStyle_List_Format_Body_1_0_RowSep_ColSep
{
	border-bottom-style: none;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Body_1_0_RowSep_ColSep p
{
	
}

.TableStyle_List_Format_Body_1_0_RowSep
{
	border-bottom-style: none;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Body_1_0_RowSep p
{
	
}

.TableStyle_List_Format_Body_1_0_ColSep
{
	border-bottom-style: none;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Body_1_0_ColSep p
{
	
}

.TableStyle_List_Format_Body_1_0_RowSep_ColEnd
{
	border-bottom-style: none;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}

.TableStyle_List_Format_Body_1_0_RowSep_ColEnd p
{
	
}

.TableStyle_List_Format_Body_1_0_RowEnd
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Body_1_0_RowEnd p
{
	
}

.TableStyle_List_Format_Body_1_0_RowEnd_ColSep
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Body_1_0_RowEnd_ColSep p
{
	
}

.TableStyle_List_Format_Body_1_0_RowEnd_ColEnd
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}

.TableStyle_List_Format_Body_1_0_RowEnd_ColEnd p
{
	
}

.TableStyle_List_Format_Body_1_0_ColEnd
{
	border-bottom-style: none;
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}

.TableStyle_List_Format_Body_1_0_ColEnd p
{
	
}

.TableStyle_List_Format_Foot_0_0
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Foot_0_0 p
{
	
}

.TableStyle_List_Format_Foot_0_0_RowSep_ColSep
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_List_Format_Foot_0_0_RowSep
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Foot_0_0_RowSep p
{
	
}

.TableStyle_List_Format_Foot_0_0_ColSep
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Foot_0_0_ColSep p
{
	
}

.TableStyle_List_Format_Foot_0_0_RowSep_ColEnd
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}

.TableStyle_List_Format_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_List_Format_Foot_0_0_RowEnd
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Foot_0_0_RowEnd p
{
	
}

.TableStyle_List_Format_Foot_0_0_RowEnd_ColSep
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle_List_Format_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_List_Format_Foot_0_0_RowEnd_ColEnd
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}

.TableStyle_List_Format_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_List_Format_Foot_0_0_ColEnd
{
	padding-left: 5pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}

.TableStyle_List_Format_Foot_0_0_ColEnd p
{
	
}


