/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: Table_No_Title; 
	margin-top: 8pt; 
	margin-bottom: 18pt; 
	border-spacing-x: 0; 
	border-spacing-y: 0; 
	border-collapse: collapse; 
	border-left-color: #999999; 
	border-right-color: #999999; 
	border-top-color: #999999; 
	border-bottom-color: #999999; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-right-style: solid; 
	border-right-width: 1px; 
	border-left-style: solid; 
	border-left-width: 1px; 
	cell-padding-top: 3pt; 
	cell-padding-left: 6pt; 
	cell-padding-right: 6pt; 
	cell-padding-bottom: 3pt; 
}

mcTableColumnStyle {
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #999999; 
	ruler-style: solid; 
	ruler-width: 1px; 
	ruler-color: #999999; 
}

mcTableHeadStyle {
	separator-style: solid; 
	separator-width: 2px; 
	separator-color: #999999; 
}

mcTableBodyStyle {
	span: 2; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #999999; 
	ruler-style: solid; 
	ruler-width: 1px; 
	ruler-color: #999999; 
	vertical-align: top; 
	text-align: left; 
}

mcTableBodyStyle {
	span: 2; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #999999; 
	ruler-style: solid; 
	ruler-width: 1px; 
	ruler-color: #999999; 
}

mcTableFootStyle {
}

 
 
/* Cell Styles: */
 
.TableStyle_Table_No_Title
{
	border-left-style: solid;
	border-left-color: #999999;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-bottom-width: 1px;
	margin-top: 8pt;
	margin-bottom: 18pt;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 3pt 6pt 3pt 6pt;
}

.TableStyle_Table_No_Title_Head_0_0
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Head_0_0 p
{
	
}

.TableStyle_Table_No_Title_Head_0_0_RowSep_ColSep
{
	border-bottom-width: 2px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Table_No_Title_Head_0_0_RowSep
{
	border-bottom-width: 2px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Head_0_0_RowSep p
{
	
}

.TableStyle_Table_No_Title_Head_0_0_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Head_0_0_ColSep p
{
	
}

.TableStyle_Table_No_Title_Head_0_0_RowSep_ColEnd
{
	border-bottom-width: 2px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Table_No_Title_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Table_No_Title_Head_0_0_RowEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Head_0_0_RowEnd p
{
	
}

.TableStyle_Table_No_Title_Head_0_0_RowEnd_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Table_No_Title_Head_0_0_RowEnd_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Table_No_Title_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Table_No_Title_Head_0_0_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Table_No_Title_Head_0_0_ColEnd p
{
	
}

.TableStyle_Table_No_Title_Body_0_0
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Body_0_0 p
{
	
}

.TableStyle_Table_No_Title_Body_0_0_RowSep_ColSep
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Body_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Table_No_Title_Body_0_0_RowSep
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Body_0_0_RowSep p
{
	
}

.TableStyle_Table_No_Title_Body_0_0_ColSep
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Body_0_0_ColSep p
{
	
}

.TableStyle_Table_No_Title_Body_0_0_RowSep_ColEnd
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Table_No_Title_Body_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Table_No_Title_Body_0_0_RowEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Body_0_0_RowEnd p
{
	
}

.TableStyle_Table_No_Title_Body_0_0_RowEnd_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Body_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Table_No_Title_Body_0_0_RowEnd_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Table_No_Title_Body_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Table_No_Title_Body_0_0_ColEnd
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Table_No_Title_Body_0_0_ColEnd p
{
	
}

.TableStyle_Table_No_Title_Body_1_0
{
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Body_1_0 p
{
	
}

.TableStyle_Table_No_Title_Body_1_0_RowSep_ColSep
{
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Body_1_0_RowSep_ColSep p
{
	
}

.TableStyle_Table_No_Title_Body_1_0_RowSep
{
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Body_1_0_RowSep p
{
	
}

.TableStyle_Table_No_Title_Body_1_0_ColSep
{
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Body_1_0_ColSep p
{
	
}

.TableStyle_Table_No_Title_Body_1_0_RowSep_ColEnd
{
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Table_No_Title_Body_1_0_RowSep_ColEnd p
{
	
}

.TableStyle_Table_No_Title_Body_1_0_RowEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Body_1_0_RowEnd p
{
	
}

.TableStyle_Table_No_Title_Body_1_0_RowEnd_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Body_1_0_RowEnd_ColSep p
{
	
}

.TableStyle_Table_No_Title_Body_1_0_RowEnd_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Table_No_Title_Body_1_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Table_No_Title_Body_1_0_ColEnd
{
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Table_No_Title_Body_1_0_ColEnd p
{
	
}

.TableStyle_Table_No_Title_Foot_0_0
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Foot_0_0 p
{
	
}

.TableStyle_Table_No_Title_Foot_0_0_RowSep_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Table_No_Title_Foot_0_0_RowSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Foot_0_0_RowSep p
{
	
}

.TableStyle_Table_No_Title_Foot_0_0_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Foot_0_0_ColSep p
{
	
}

.TableStyle_Table_No_Title_Foot_0_0_RowSep_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Table_No_Title_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Table_No_Title_Foot_0_0_RowEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Foot_0_0_RowEnd p
{
	
}

.TableStyle_Table_No_Title_Foot_0_0_RowEnd_ColSep
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Table_No_Title_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Table_No_Title_Foot_0_0_RowEnd_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Table_No_Title_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Table_No_Title_Foot_0_0_ColEnd
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Table_No_Title_Foot_0_0_ColEnd p
{
	
}


