/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: Table_Format; 
	border-collapse: collapse; 
	border-top-style: solid; 
	border-top-width: 0px; 
	border-bottom-style: solid; 
	border-bottom-width: 2px; 
	cell-padding-left: 6px; 
	cell-padding-right: 6px; 
	cell-padding-top: 0px; 
	cell-padding-bottom: 0px; 
	margin-left: 0px; 
	margin-bottom: 18px; 
	margin-top: 8px; 
	border-left-style: solid; 
	border-left-width: 0px; 
	border-right-style: solid; 
	border-right-width: 0px; 
	border-bottom-color: #d3d3d3; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 2px; 
	separator-color: #ffffff; 
}

mcTableHeadStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 3px; 
	separator-color: #ffffff; 
	vertical-align: middle; 
	text-align: center; 
	background-color: #d3d3d3; 
	font-weight: bold; 
	font-style: normal; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	vertical-align: top; 
	text-align: left; 
	background-color: #e6e6fa; 
	font-style: normal; 
}

mcTableBodyStyle {
	span: 1; 
	vertical-align: top; 
	text-align: left; 
}

mcTableFootStyle {
	span: 0; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #ffffff; 
}

 
 
/* Cell Styles: */
 
.TableStyle_Table_Format
{
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #d3d3d3;
	border-bottom-width: 2px;
	margin-left: 0px;
	margin-top: 8px;
	margin-bottom: 18px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 0px 6px 0px 6px;
}

.TableStyle_Table_Format_Head_0_0
{
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #d3d3d3;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Head_0_0 p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle_Table_Format_Head_0_0_RowSep_ColSep
{
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #d3d3d3;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_Table_Format_Head_0_0_RowSep_ColSep p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle_Table_Format_Head_0_0_RowSep
{
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #d3d3d3;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Head_0_0_RowSep p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle_Table_Format_Head_0_0_ColSep
{
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #d3d3d3;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_Table_Format_Head_0_0_ColSep p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle_Table_Format_Head_0_0_RowSep_ColEnd
{
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #d3d3d3;
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Head_0_0_RowSep_ColEnd p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle_Table_Format_Head_0_0_RowEnd
{
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #d3d3d3;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Head_0_0_RowEnd p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle_Table_Format_Head_0_0_RowEnd_ColSep
{
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #d3d3d3;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_Table_Format_Head_0_0_RowEnd_ColSep p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle_Table_Format_Head_0_0_RowEnd_ColEnd
{
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #d3d3d3;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Head_0_0_RowEnd_ColEnd p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle_Table_Format_Head_0_0_ColEnd
{
	font-weight: bold;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	background-color: #d3d3d3;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Head_0_0_ColEnd p
{
	font-weight: bold;
	font-style: normal;
}

.TableStyle_Table_Format_Body_0_0
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6fa;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Body_0_0 p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Table_Format_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6fa;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_Table_Format_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Table_Format_Body_0_0_RowSep
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6fa;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Body_0_0_RowSep p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Table_Format_Body_0_0_ColSep
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6fa;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_Table_Format_Body_0_0_ColSep p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Table_Format_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6fa;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Table_Format_Body_0_0_RowEnd
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6fa;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Body_0_0_RowEnd p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Table_Format_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6fa;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_Table_Format_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Table_Format_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6fa;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Table_Format_Body_0_0_ColEnd
{
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #e6e6fa;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Body_0_0_ColEnd p
{
	font-weight: normal;
	font-style: normal;
}

.TableStyle_Table_Format_Body_1_0
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Body_1_0 p
{
	
}

.TableStyle_Table_Format_Body_1_0_RowSep_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_Table_Format_Body_1_0_RowSep_ColSep p
{
	
}

.TableStyle_Table_Format_Body_1_0_RowSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Body_1_0_RowSep p
{
	
}

.TableStyle_Table_Format_Body_1_0_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_Table_Format_Body_1_0_ColSep p
{
	
}

.TableStyle_Table_Format_Body_1_0_RowSep_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Body_1_0_RowSep_ColEnd p
{
	
}

.TableStyle_Table_Format_Body_1_0_RowEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Body_1_0_RowEnd p
{
	
}

.TableStyle_Table_Format_Body_1_0_RowEnd_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_Table_Format_Body_1_0_RowEnd_ColSep p
{
	
}

.TableStyle_Table_Format_Body_1_0_RowEnd_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Body_1_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Table_Format_Body_1_0_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Body_1_0_ColEnd p
{
	
}

.TableStyle_Table_Format_Foot_0_0
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Foot_0_0 p
{
	
}

.TableStyle_Table_Format_Foot_0_0_RowSep_ColSep
{
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_Table_Format_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Table_Format_Foot_0_0_RowSep
{
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Foot_0_0_RowSep p
{
	
}

.TableStyle_Table_Format_Foot_0_0_ColSep
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_Table_Format_Foot_0_0_ColSep p
{
	
}

.TableStyle_Table_Format_Foot_0_0_RowSep_ColEnd
{
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Table_Format_Foot_0_0_RowEnd
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Foot_0_0_RowEnd p
{
	
}

.TableStyle_Table_Format_Foot_0_0_RowEnd_ColSep
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 2px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle_Table_Format_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Table_Format_Foot_0_0_RowEnd_ColEnd
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Table_Format_Foot_0_0_ColEnd
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle_Table_Format_Foot_0_0_ColEnd p
{
	
}


