/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: Version_Table; 
	margin-left: 0in; 
	margin-right: 0in; 
	margin-top: 8px; 
	margin-bottom: 18px; 
	border-spacing-x: 0; 
	border-spacing-y: 0; 
	border-collapse: collapse; 
	border-left-color: #999999; 
	border-right-color: #999999; 
	border-top-color: #999999; 
	border-bottom-color: #999999; 
	border-top-style: solid; 
	border-top-width: 1pt; 
	border-bottom-style: solid; 
	border-bottom-width: 1pt; 
	border-right-style: none; 
	border-left-style: none; 
	cell-padding-top: 3pt; 
	cell-padding-left: 6pt; 
	cell-padding-right: 6pt; 
	cell-padding-bottom: 3pt; 
}

mcTableColumnStyle {
	separator-style: solid; 
	separator-width: 1pt; 
	separator-color: #999999; 
	ruler-style: solid; 
	ruler-width: 1px; 
	ruler-color: #999999; 
}

mcTableHeadStyle {
	vertical-align: top; 
	text-align: center; 
	separator-style: none; 
	separator-width: 1pt; 
	separator-color: #999999; 
}

mcTableBodyStyle {
	span: 2; 
	separator-style: solid; 
	separator-width: 1pt; 
	separator-color: #999999; 
	ruler-style: solid; 
	ruler-width: 1pt; 
	ruler-color: #999999; 
	vertical-align: top; 
	text-align: left; 
}

 
 
/* Cell Styles: */
 
.TableStyle_Version_Table
{
	border-left-style: none;
	border-left-color: #999999;
	border-right-style: none;
	border-right-color: #999999;
	border-top-style: solid;
	border-top-color: #999999;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	border-bottom-width: 1pt;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 8px;
	margin-bottom: 18px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 3pt 6pt 3pt 6pt;
}

.TableStyle_Version_Table_Head_0_0
{
	text-align: center;
	vertical-align: top;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Version_Table_Head_0_0 p
{
	
}

.TableStyle_Version_Table_Head_0_0_RowSep_ColSep
{
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1pt;
	border-bottom-color: #999999;
	border-bottom-style: none;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1pt;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Version_Table_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Version_Table_Head_0_0_RowSep
{
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1pt;
	border-bottom-color: #999999;
	border-bottom-style: none;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Version_Table_Head_0_0_RowSep p
{
	
}

.TableStyle_Version_Table_Head_0_0_ColSep
{
	text-align: center;
	vertical-align: top;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1pt;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Version_Table_Head_0_0_ColSep p
{
	
}

.TableStyle_Version_Table_Head_0_0_RowSep_ColEnd
{
	text-align: center;
	vertical-align: top;
	border-bottom-width: 1pt;
	border-bottom-color: #999999;
	border-bottom-style: none;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Version_Table_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Version_Table_Head_0_0_RowEnd
{
	text-align: center;
	vertical-align: top;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Version_Table_Head_0_0_RowEnd p
{
	
}

.TableStyle_Version_Table_Head_0_0_RowEnd_ColSep
{
	text-align: center;
	vertical-align: top;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1pt;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Version_Table_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Version_Table_Head_0_0_RowEnd_ColEnd
{
	text-align: center;
	vertical-align: top;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Version_Table_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Version_Table_Head_0_0_ColEnd
{
	text-align: center;
	vertical-align: top;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Version_Table_Head_0_0_ColEnd p
{
	
}

.TableStyle_Version_Table_Body_0_0
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1pt;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Version_Table_Body_0_0 p
{
	
}

.TableStyle_Version_Table_Body_0_0_RowSep_ColSep
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1pt;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1pt;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Version_Table_Body_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Version_Table_Body_0_0_RowSep
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1pt;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Version_Table_Body_0_0_RowSep p
{
	
}

.TableStyle_Version_Table_Body_0_0_ColSep
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1pt;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1pt;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Version_Table_Body_0_0_ColSep p
{
	
}

.TableStyle_Version_Table_Body_0_0_RowSep_ColEnd
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1pt;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Version_Table_Body_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Version_Table_Body_0_0_RowEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Version_Table_Body_0_0_RowEnd p
{
	
}

.TableStyle_Version_Table_Body_0_0_RowEnd_ColSep
{
	text-align: left;
	vertical-align: top;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1pt;
	border-right-color: #999999;
	border-right-style: solid;
}

.TableStyle_Version_Table_Body_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Version_Table_Body_0_0_RowEnd_ColEnd
{
	text-align: left;
	vertical-align: top;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Version_Table_Body_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Version_Table_Body_0_0_ColEnd
{
	text-align: left;
	vertical-align: top;
	border-bottom-width: 1pt;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle_Version_Table_Body_0_0_ColEnd p
{
	
}


